html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bebas Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
}

.first-page {
  height: 79.96rem;
  background: url(./Images/bg\ image\ 1.jpg) center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 47px 72px;
  box-sizing: border-box;
}
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav ul {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 599px) {
  nav ul,
  nav .menu-game-icons img {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  nav .burger {
    display: none;
  }
}
nav li {
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 63px;
}
nav .menu-logo img {
  width: 87px;
  height: 93px;
}
@media screen and (max-width: 599px) {
  nav .menu-logo img {
    width: 60px;
    height: 60px;
  }
}
nav .menu-language {
  position: relative;
  display: inline-block;
}
nav button {
  background: none;
  color: rgb(255, 255, 255);
  border: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
}
nav .menu-language-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav .menu-language a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
nav .menu-language-dropdown-content a:hover {
  color: rgb(255, 181, 72);
}
nav .menu-language:hover .menu-language-dropdown-content {
  display: block;
}
nav .menu-white-row {
  background: rgb(255, 255, 255);
  width: 1px;
  height: 30px;
}
nav .menu-game-icons {
  display: block;
}
nav .menu-game-icons img {
  padding: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .content {
  width: 100%;
  max-width: 1000px;
  padding: 14rem;
}
header h1 {
  font-size: 80px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (max-width: 599px) {
  header .content h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
header p {
  font-size: 24px;
  color: white;
  margin: 16px 0 43px;
}
header .content-buttons {
  display: flex;
  justify-content: center;
}
header a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 15px 66px;
  display: inline-block;
  border-radius: 6px;
}
@media screen and (max-width: 599px) {
  header .content .content-button .content-buttons-buy {
    font-size: 1px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
header .content-buttons-buy {
  color: rgb(26, 25, 23);
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  margin-right: 21px;
}

.second-content {
  background: url(./Images/bg\ image\ 2.png) center;
  width: 100%;
  padding: 100px 0;
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.second-content .second-content-text {
  padding: 100px 0;
}
.second-content h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 4px;
}
.second-content h1 {
  font-size: 80px;
  font-weight: 700;
  width: 410px;
  height: 153px;
  margin-top: -30px;
}
.second-content .content-white-row {
  background: rgb(255, 255, 255);
  position: absolute;
  width: 40rem;
  height: 1px;
}
.second-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 576px;
  height: 585px;
  padding: 20px;
}
.second-content .images img {
  width: 576px;
  height: 585px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 2rem;
}

.third-content {
  background: url(./Images/bg\ image\ 3.png) center;
  width: 100%;
  padding: 290px 0;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.third-content .third-content-text h3,
.third-content h1 {
  display: flex;
  justify-content: flex-end;
  padding-right: 35rem;
}
.third-content .third-content-text h3 {
  font-size: 24px;
}
.third-content .third-content-text h1 {
  font-size: 80px;
  margin-top: -40px;
  padding-right: 32.5rem;
  font-weight: 200;
}
.third-content .third-content-first-answer h2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 30.1rem;
  margin: 35px;
  color: rgb(255, 181, 72);
  font-size: 36px;
}
.third-content .third-content-first-answer p {
  display: flex;
  justify-content: flex-end;
  padding-right: 6rem;
  font-size: 18px;
}
.third-content .third-content-second-answer {
  display: flex;
  justify-content: flex-end;
  padding-right: 28rem;
}
.third-content .third-content-second-answer h2 {
  color: rgb(255, 181, 72);
  font-size: 36px;
}
.third-content .third-content-third-answer {
  display: flex;
  justify-content: flex-end;
  padding-right: 31.3rem;
}
.third-content .third-content-third-answer h2 {
  color: rgb(255, 181, 72);
  font-size: 36px;
}

.fourth-content {
  background: url(./Images/bg\ image\ 4.png) center;
  width: 100%;
  padding: 280px 0;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.fourth-content .fourth-content-text {
  flex-direction: column;
}
.fourth-content .fourth-content-text .fourth-content-question,
.fourth-content .fourth-content-answer {
  display: flex;
  justify-content: center;
}
.fourth-content .fourth-content-text .fourth-content-question {
  font-size: 24px;
  font-weight: 300;
}
.fourth-content .fourth-content-text .fourth-content-answer {
  font-size: 80px;
  font-weight: 600;
  margin-top: -40px;
}
.fourth-content .fourth-content-tabel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 114px 111px 133px;
  width: 573px;
  height: 120px;
  margin: 10rem;
}
.fourth-content .requirements-tabel {
  text-align: center;
  border: 1px solid;
}
.fourth-content .requirements-tabel h1 {
  color: rgb(255, 181, 72);
  font-size: 24px;
}
.fourth-content .requirements-tabel p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.fith-content {
  background: url(./Images/bg\ image\ 5.png) center;
  width: 100%;
  padding: 280px 0;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.fith-content .fith-content-text {
  justify-content: space-evenly;
}
.fith-content .fith-content-question {
  font-size: 24px;
  font-weight: 400;
  padding: 4px;
}
.fith-content .fith-content-answer {
  font-size: 80px;
  font-weight: 700;
  margin-top: -40px;
}
.fith-content .fith-content-answer-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 434px;
  height: 136px;
}
.fith-content .fith-content-buttons {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  margin-right: 32px;
  border-radius: 6px;
}
.fith-content .fith-content-buttons a {
  color: rgb(26, 25, 23);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 15px 150px;
  display: inline-block;
}
.fith-content .feedback-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.fith-content .feedback-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  width: 452px;
  height: 183px;
}
.fith-content .feedback-cards h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 181, 72);
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
}
.fith-content .feedback-cards h4 {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
}
.fith-content .feedback-image img {
  display: grid;
  width: 61px;
  height: 61px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid white;
  border-radius: 50%;
  margin: 11px;
}
.fith-content .feedback-twitter {
  display: grid;
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 2;
}
.fith-content .feedback-cards p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
}
.fith-content .feedback-cards h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin: 15px;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 8;
}

.sixth-content {
  background: rgb(8, 10, 11);
  width: 100%;
  padding: 280px 0;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sixth-content .sixth-content-text h3 {
  font-size: 24px;
  padding: 4px;
}
.sixth-content .sixth-content-text h1 {
  font-size: 80px;
  font-weight: 300;
  margin-top: -40px;
}
.sixth-content .sixth-content-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 644px;
  height: 136px;
}
.sixth-content .email-button {
  display: flex;
  gap: 15px;
}
.sixth-content .email-button form {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 7px;
}
.sixth-content .email-button form h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.sixth-content .email-button form textarea {
  background: none;
  color: rgb(255, 181, 72);
}
.sixth-content .email-button .button {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 6px;
}
.sixth-content .email-button .button a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgb(26, 25, 23);
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 30px;
  display: inline-block;
}

footer {
  background: rgb(8, 10, 11);
}
footer .menu {
  display: flex;
  justify-content: center;
  height: 120px;
  padding: 47px 72px;
  box-sizing: border-box;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer li {
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 63px;
}
footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer .menu-logo img {
  width: 87px;
  height: 93px;
}
footer .row {
  display: flex;
  justify-content: center;
}
footer .row .menu-white-row {
  background: rgb(255, 255, 255);
  width: 71rem;
  height: 1px;
}
footer .footer-end {
  display: flex;
  justify-content: center;
  gap: 50px;
}
footer .footer-end h3 {
  font-size: 14px;
  font-weight: 100;
}
footer .footer-end ul {
  display: flex;
  margin: 20px;
}
footer .footer-end ul li {
  font-size: 14px;
}
footer .footer-end li a,
footer div {
  color: rgb(255, 255, 255);
}
footer .footer-end h3 {
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-end li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
footer .footer-end ul .white-row {
  background: rgb(255, 255, 255);
  width: 1px;
  height: 30px;
}/*# sourceMappingURL=styles.css.map */