/* general */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Bebas Neue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
}
.first-page {
  height: calc(150vh - 10px);
  background: url(./Images/bg\ image\ 1.jpg) center;
  width: 100%;
}

/* menu styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 47px 72px;
  box-sizing: border-box;
}
nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 63px;
}
nav .menu-logo img {
  width: 87px;
  height: 93px;
}
nav .menu-language {
  position: relative;
  display: inline-block;
}
nav .menu-language button {
  background: none;
  color: rgba(255, 255, 255, 1);
  border: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
}
nav .menu-language-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav .menu-language a {
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
nav .menu-language-dropdown-content a:hover {
  color: rgba(255, 181, 72, 1);
}
.menu-language:hover .menu-language-dropdown-content {
  display: block;
}
nav .menu-white-row {
  background: rgba(255, 255, 255, 1);
  width: 1px;
  height: 30px;
}
nav .menu-game-icons {
  display: block;
}
nav .menu-game-icons img {
  padding: 10px;
}

/* header styles */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .content {
  width: 100%;
  max-width: 1000px;
  padding: 14rem;
}
header h1 {
  font-size: 80px;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
header p {
  font-size: 24px;
  color: white;
  margin: 16px 0 43px;
}
header .content-buttons {
  display: flex;
  justify-content: center;
}
header .content-buttons a {
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 15px 66px;
  display: inline-block;
}
header .content-buttons .content-buttons-buy {
  color: rgba(26, 25, 23, 1);
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  margin-right: 21px;
}

/* second content styles */

.second-content {
  background: url(./Images/bg\ image\ 2.png) center;
  width: 100%;
  padding: 10px;
  color: rgba(255, 255, 255, 1);
  display: flex;
}
.second-content .second-content-text h3 {
  font-size: 24px;
  font-weight: 700;
}
.second-content .second-content-text h1 {
  font-size: 80px;
  font-weight: 700;
}
.second-content .second-content-text .content-white-row {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  width: 80rem;
  height: 1px;
}
.second-content .second-content-text p {
  font-size: 18px;
  font-weight: 400;
  padding: 3rem;
}
/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
  }
  .carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
  }
  .carousel img {
    width: 100%;
    height: auto;
    display: block;
  }
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  button.prev {
    left: 10px;
  }
  button.next {
    right: 10px;
  }
    */
