/* font-family: "Changa", sans-serif; */

/* ===============================================================
GENERAL STYLES
=============================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Changa", sans-serif;
  font-weight: 400;
}
.page-section {
  padding-top: 112px;
  padding-bottom: 112px;
}

/* ===============================================================
NAVIGATION STYLES
=============================================================== */

.home-page .navbar .navbar-brand img {
  width: 80px;
  height: 104px;
}
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(105, 105, 105, 1) 100%
  );
}
.navbar .navbar-toggler {
  border-color: transparent;
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-nav {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item:not(:first-child) {
    margin-left: 37px;
  }
}
.navbar .navbar-nav .nav-item .nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #151616;
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    line-height: 28px;
  }
}
.navbar .navbar-nav .nav-item .nav-link.active {
  font-weight: 700;
  color: rgb(72, 154, 225);
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: rgb(72, 154, 225);
}

/* ===============================================================
HEADER STYLES
=============================================================== */
.home-page header {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
  text-align: center;
  background: linear-gradient(rgba(98, 100, 113, 0.3), rgba(98, 100, 113, 0.3));
}
.home-page header .bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background: no-repeat;
  background-size: cover;
}
.home-page header .container,
.home-page header .container .row {
  height: 100%;
}
.home-page header .container .row .col h1 {
  position: relative;
  z-index: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 82px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 575px) {
  .home-page header .container .row .col h1 {
    font-size: 44px;
  }
}
.home-page header .container .row .col p {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #d5d7d8;
}

/* GENERAL INFORMATION STYLES */

.home-page .general-information {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(105, 105, 105, 1) 100%
  );
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-page .general-information .text-information-col .information-block {
    margin-bottom: 52px;
  }
}
@media only screen and (min-width: 992px) {
  .home-page
    .general-information
    .text-information-col
    .information-block:nth-child(-n + 2) {
    margin-bottom: 52px;
  }
}
@media only screen and (max-width: 767px) {
  .home-page .general-information .text-information-col .information-block {
    margin-bottom: 49px;
    text-align: center;
  }
}
.home-page .general-information .text-information-col .information-block .icon {
  color: rgb(72, 154, 225);
  font-size: 38px;
}
.home-page .general-information .text-information-col .information-block h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #151616;
  margin: 18px 0 10px;
}
.home-page .general-information .text-information-col .information-block p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #050709;
  margin-bottom: 0;
}

/* ===============================================================
FOOTER STYLES
=============================================================== */
