.fith-content {
  background: url(./Images/bg\ image\ 5.png) center;
  width: 100%;
  padding: 280px 0;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .fith-content-text {
    justify-content: space-evenly;
  }
  .fith-content-question {
    font-size: 24px;
    font-weight: 400;
    padding: 4px;
  }
  .fith-content-answer {
    font-size: 80px;
    font-weight: 700;
    margin-top: -40px;
  }
  .fith-content-answer-text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 434px;
    height: 136px;
  }
  .fith-content-buttons {
    background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
    margin-right: 32px;
    border-radius: 6px;
  }
  .fith-content-buttons a {
    color: rgba(26, 25, 23, 1);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 15px 150px;
    display: inline-block;
  }
  .feedback-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .feedback-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 452px;
    height: 183px;
  }
  .feedback-cards h3 {
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 181, 72, 1);
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .feedback-cards h4 {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .feedback-image img {
    display: grid;
    width: 61px;
    height: 61px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    margin: 11px;
  }
  .feedback-twitter {
    display: grid;
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .feedback-cards p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .feedback-cards h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 15px;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 8;
  }
}
