footer {
  background: rgb(8 10 11);
  .menu {
    display: flex;
    justify-content: center;
    height: 120px;
    padding: 47px 72px;
    box-sizing: border-box;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 63px;
  }
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
  .menu-logo img {
    width: 87px;
    height: 93px;
  }
  .row {
    display: flex;
    justify-content: center;
  }
  .row .menu-white-row {
    background: rgba(255, 255, 255, 1);
    width: 71rem;
    height: 1px;
  }
  .footer-end {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .footer-end h3 {
    font-size: 14px;
    font-weight: 100;
  }
  .footer-end ul {
    display: flex;
    margin: 20px;
  }
  .footer-end ul li {
    font-size: 14px;
  }
  .footer-end li a,
  div {
    color: rgba(255, 255, 255, 1);
  }
  .footer-end h3 {
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.5);
  }
  .footer-end li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  .footer-end ul .white-row {
    background: rgba(255, 255, 255, 1);
    width: 1px;
    height: 30px;
  }
}
