html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Bebas Neue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
}
.first-page {
  height: 79.96rem;
  background: url(./Images/bg\ image\ 1.jpg) center;
  width: 100%;
}
