.sixth-content {
  background: rgb(8 10 11);
  width: 100%;
  padding: 280px 0;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .sixth-content-text h3 {
    font-size: 24px;
    padding: 4px;
  }
  .sixth-content-text h1 {
    font-size: 80px;
    font-weight: 300;
    margin-top: -40px;
  }
  .sixth-content-text p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 644px;
    height: 136px;
  }
  .email-button {
    display: flex;
    gap: 15px;
  }
  .email-button form {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 7px;
  }
  .email-button form h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }
  .email-button form textarea {
    background: none;
    color: rgba(255, 181, 72, 1);
  }
  .email-button .button {
    background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
    border-radius: 6px;
  }
  .email-button .button a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgba(26, 25, 23, 1);
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 30px;
    display: inline-block;
  }
}
