.third-content {
  background: url(./Images/bg\ image\ 3.png) center;
  width: 100%;
  padding: 290px 0;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .third-content-text h3,
  h1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 35rem;
  }
  .third-content-text h3 {
    font-size: 24px;
  }
  .third-content-text h1 {
    font-size: 80px;
    margin-top: -40px;
    padding-right: 32.5rem;
    font-weight: 200;
  }
  .third-content-first-answer h2 {
    display: flex;
    justify-content: flex-end;
    padding-right: 30.1rem;
    margin: 35px;
    color: rgba(255, 181, 72, 1);
    font-size: 36px;
  }
  .third-content-first-answer p {
    display: flex;
    justify-content: flex-end;

    padding-right: 6rem;
    font-size: 18px;
  }
  .third-content-second-answer {
    display: flex;
    justify-content: flex-end;
    padding-right: 28rem;
  }
  .third-content-second-answer h2 {
    color: rgba(255, 181, 72, 1);
    font-size: 36px;
  }
  .third-content-third-answer {
    display: flex;
    justify-content: flex-end;
    padding-right: 31.3rem;
  }
  .third-content-third-answer h2 {
    color: rgba(255, 181, 72, 1);
    font-size: 36px;
  }
}
