.first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 100vh;
  gap: 1rem;
}
.box {
  color: white;
  font-size: 4rem;
  text-align: center;
}

.a {
  background: red;
}
.b {
  background: darkblue;
}
.c {
  background: rebeccapurple;
  grid-column: 2/4;
  grid-row: 2/4;
}
.d {
  background: aqua;
}
.e {
  background: violet;
}
.f {
  background: forestgreen;
}
