/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: lightblue;
}
.first-content h1 {
  font-family: Caveat;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 295px;
  line-height: 0px;
  color: rgb(253, 253, 253);
  position: relative;
  top: 396px;
  right: 1089px;
  left: 196px;
}
.first-content h3 {
  font-family: "Caveat";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 6px;
  color: #192337;
  position: relative;
  top: 581px;
  right: 1093px;
  left: 196px;
  bottom: 680px;
}
.second-content {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  position: relative;
  max-width: 40%;
  right: 1049px;
  top: 645px;
  bottom: 234px;
  left: 196px;
}
.background {
  position: absolute;
  bottom: 0;
  right: 104px;
  max-height: 100%;
}
.planet {
  position: absolute;
  bottom: 0;
  right: 80px;
  height: 713px;
}
.man {
  position: absolute;
  bottom: 0;
  right: 80px;
  padding: 57px;
  height: 646px;
}
