/* font-family: "Inter", sans-serif; */

/* ==================================================================
GENERAL STYLES
================================================================== */

h1,
h2,
h3,
h4,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.btn {
  padding: 12px 24px;
}
@media only screen and (max-width: 992px) {
  .btn {
    padding: 12px 129px;
  }
}
.btn.btn-primary {
  background: rgba(50, 41, 47, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: rgb(5, 5, 5) !important;
  border-color: rgba(50, 41, 47, 1) !important;
}
.btn.btn-secondary {
  background: none;
  color: rgba(50, 41, 47, 1);
  border: 1px solid rgba(50, 41, 47, 1);
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.page-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.line {
  border: 0.1px solid rgba(214, 212, 213, 1);
  width: 1278px;
  height: 2px;
}
@media only screen and (max-width: 992px) {
  .line {
    width: 327px;
  }
}
.text-start {
  font-size: 11px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
}

/* ==================================================================
NAVIGATION STYLES
================================================================== */
.navbar {
  padding-top: 19px;
  padding-bottom: 19px;
}

.navbar .navbar-brand {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(50, 41, 47, 1);
}
.navbar .navbar-toggler {
  background: transparent;
  border: none;
}
@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item:not(:first-child) {
    margin-left: 32px;
  }
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(50, 41, 47, 1);
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    line-height: 14px;
  }
}
.navbar .navbar-nav .nav-item .nav-link.active {
  font-weight: 600;
  text-decoration: underline 2px;
  color: rgba(50, 41, 47, 1);
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
}

/* ==================================================================
HEADER STYLES
================================================================== */
.home-page header .container .bg {
  position: absolute;
  z-index: -1;
  width: 822px;
  height: 600px;
}
@media only screen and (max-width: 991px) {
  .home-page header .container .bg {
    width: 100%;
  }
}

.home-page header .container,
.home-page header .container .row {
  height: 100%;
}
@media only screen and (max-width: 991px) {
  .home-page header .page-section {
    padding-top: 0px;
  }
}
@media only screen and (max-width: 991px) {
  .home-page header .container .row .child--featured {
    order: -1;
    background: rgba(246, 244, 245, 1);
  }
}
.home-page header .container .row .text-information-col {
  /* background: rgba(246, 244, 245, 1); */
  padding: 40px;
  max-width: 580px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .home-page header .container .row .text-information-col {
    background-image: none;
    background: rgba(246, 244, 245, 1);
    padding-top: 0px;
    width: 103%;
  }
}

.home-page header h1 {
  font-weight: 200;
  line-height: 56px;
  font-size: 48px;
  color: rgba(50, 41, 47, 1);
  margin-bottom: 16px;
  max-width: 432px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .home-page header h1 {
    font-size: 32px;
    line-height: 40px;
  }
}
.home-page header p {
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
  color: rgba(50, 41, 47, 1);
  max-width: 432px;
  width: 100%;
}
.home-page header .container .row .photo-col .img-fluid {
  width: 733px;
  height: 536px;
}
@media only screen and (max-width: 991px) {
  .home-page header .container .row .photo-col .img-fluid {
    width: 351px;
    height: 304px;
    padding-left: 0;
  }
}
.home-page header .container .row .photo-col .bullets {
  width: 431px;
  height: 24px;
}

/* GENERAL INFORMATION STYLES */

.home-page .general-information .container .row .row-name {
  font-size: 40px;
  font-weight: 200;
  line-height: 48px;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .home-page .general-information .container {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 991px) {
  .home-page .general-information .container .row .row-name {
    font-size: 32px;
  }
}
@media only screen and (max-width: 991px) {
  .home-page .general-information .container .row .child--featured {
    order: -1;
  }
}
.home-page .general-information .container .row .col-name {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
}
@media only screen and (max-width: 991px) {
  .home-page .general-information .container .row .col-name {
    font-size: 28px;
    padding-top: 32px;
  }
}
.home-page .general-information .container .row p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  width: 432px;
  height: 48px;
}
@media only screen and (max-width: 991px) {
  .home-page .general-information .container .row p {
    width: 327px;
    height: 72px;
  }
}
.home-page .general-information .container .row .col-text {
  padding-left: 135px;
}
@media only screen and (max-width: 991px) {
  .home-page .general-information .container .row .col-text {
    padding-left: 12px;
  }
}
.home-page .general-information .container .row .photo-col {
  padding-top: 55px;
}
@media only screen and (max-width: 991px) {
  .home-page .general-information .container .row .text-information-col {
    text-align: center;
  }
}

/* CONTENT INFORMATION STYLES */

.home-page .content-information .container .row .row-name {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  padding-bottom: 48px;
}
@media only screen and (max-width: 991px) {
  .home-page .content-information .container .row .row-name {
    width: 327px;
  }
}
.home-page .content-information .container .row:first-child {
  text-align: center;
}
.home-page .content-information .container .row .photo-col .first-img {
  width: 100%;
  height: 529px;
}
@media only screen and (max-width: 991px) {
  .home-page .content-information .container .row .photo-col .first-img {
    width: 327px;
    height: 277px;
  }
}
.home-page .content-information .container .row .fir-im {
  width: 760px;
}
.home-page .content-information .container .row .sec-im {
  width: 560px;
}
.home-page .content-information .container .row .photo-col .second-img {
  width: 60%;
  height: 528px;
}
@media only screen and (max-width: 991px) {
  .home-page .content-information .container .row .photo-col .second-img {
    width: 327px;
    height: 317px;
  }
}
.home-page .content-information .container .row .photo-col h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  padding-top: 16px;
}
@media only screen and (max-width: 991px) {
  .home-page .content-information .container .row .photo-col h3 {
    width: 327px;
  }
}

/* ==================================================================
FOOTER STYLES
================================================================== */

.home-page footer .container-fluid .navbar-collapse .navbar-nav .nav-item a {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}
.home-page
  footer
  .container-fluid
  .navbar-collapse
  .policy
  .navbar-nav
  .nav-item
  a {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.home-page
  footer
  .container-fluid
  .navbar-collapse
  .contacts
  .navbar-nav
  .nav-item
  a {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
