/* GENERAL STYLES */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.buttons a {
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 8px 32px;
  display: inline-block;
  color: white;
  background: #eb5757;
  border-radius: 14px;
}
.general-section {
  padding: 100px 0;
}
.general-section .container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 32px 108px;
  box-sizing: border-box;
}
nav a {
  text-decoration: none;
  color: #222;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 63px;
}

/* CONTENT 1ST */

.first-content {
  background: #ffeee2;
  display: flex;
  border-radius: 25px;
  height: 485px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  gap: 27px;
}
.first-content img {
  width: 702px;
  height: 485px;
  border-radius: 25px 0 0 25px;
}
.first-content .first-content-text {
  display: flex;
  flex-direction: column;
}
.first-content .first-content-text h1 {
  font-weight: 800;
}

/* CONTENT 2ST */

.second-content {
  display: flex;
  border-radius: 25px;
  height: 485px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  gap: 27px;
  padding: 58px 0;
}
.second-content .second-content-text {
  display: flex;
  flex-direction: column;
}
.second-content .second-content-text h1 {
  font-weight: 800;
}
.second-content img {
  display: flex;
  width: 702px;
  height: 485px;
}

/* CONTENT 3ST */

.third-content {
  display: flex;
  height: 485px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  gap: 27px;
}
.third-content img {
  width: 702px;
  height: 485px;
}
.third-content .third-content-text {
  display: flex;
  flex-direction: column;
}
.third-content .third-content-text h1 {
  font-weight: 800;
}

/* DIRECTIONS STYLES */

.directions .directions-name h1 {
  font-size: 45px;
  font-weight: 800;
  width: 863px;
  padding: 28px 40px;
}
.directions .directions-part {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 24px;
  box-sizing: border-box;
  text-align: center;
  padding: 28px 40px;
}
.directions .directions-part .places img {
  width: 392px;
  height: 287px;
  object-fit: cover;
}
.directions .directions-part .places h3 {
  font-size: 22px;
  font-weight: 800;
  width: 100%;
  text-align: center;
}

/* CUSTOMERS STYLES */

.customers-section {
  background: #ffeee2;
}
.customers-section .container h1 {
  font-size: 45px;
  font-weight: 800;
  width: 702px;
}
.customers-section .customers-text {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.customers-section .customers-text .customer-block {
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  padding: 47px 30px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
}
.customers-section .customers-text .customer-block .image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

/* CHRONICLES STYLES */

.chronicles h1 {
  font-size: 32px;
  font-weight: 700;
}
.chronicles .chronicles-text {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.chronicles .chronicles-text .chronicles-block {
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  padding: 47px 30px;
  background: rgba(255, 255, 255, 0.6);
}
.chronicles .chronicles-text .chronicles-block .image img {
  width: 288px;
  height: 205px;
  object-fit: cover;
}

/* FOOTER STYLES */

footer {
  background: rgba(255, 105, 120, 1);
}
footer .links {
  display: flex;
  justify-content: space-evenly;
}
footer .links ul li a {
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #222;
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
  box-sizing: border-box;
}
footer .white-row {
  background: rgba(255, 255, 255, 0.25);
  width: 85%;
  height: 1px;
  margin: 0 auto;
  margin: 19px auto;
}
footer .meta-icons {
  display: flex;
  justify-content: center;
  gap: 7px;
}
footer h1 {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}
